body {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


/* HEADER NAVBAR */

.headPage {
    padding-left: 3em;
    padding-top: 2em;   
    background-image: linear-gradient(to right, rgba(240,240,0,0.7), rgba(0,0,255,0.1)), url("../img/shakeweight.jpg");
    background-repeat: no-repeat;
    background-position: right center; 
    margin: 0;
    font-style: italic;
    font-size: 1.5em;
    letter-spacing: .2em;
    text-shadow: 4px 0 white;
}

.headPage h3 {
    margin: 0 auto;
    padding-bottom: 1em;
}


nav {
    margin: 0 auto 5em auto;
}

.flexNav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    background-image: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,1));
    padding: 2em 1em .2em 1em;
    margin: 0;
}

.flexNav li {
    display: inline-block;
    width: 90%;
    list-style-type: none;
    flex-grow: 1;
    padding: .5em 2em;
    justify-content: space-around;
    text-align: right;
}

.flexNav a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.flexNav a:hover {
    color: peachpuff;
    font-weight: 500;
    text-shadow: 2px 2px #203737;
}

/* INDEX CONTENT */

.body {
    width: 90%;
    margin: 0 auto;
}

/* .background {
    background-color: #ffef99;
} */

#fakeNews {
    width: 65%;
    float: left;
    margin-left: .3em;
    font-size: 1.1em;
}

#fakeNews article {
    margin: 3em auto;
    padding: 2em 1em;
    border: 2px double lightgrey;
    border-bottom-right-radius: 2em;
    box-shadow: 1px 1px 10px .5px #888888;
}

#customer {
    width: 30%;
    float: right;
    font-size: .9em;
}

#customer .scroll {
    width: 20em;
    height: 20em;
    border: 1px dotted black;
    overflow-y: scroll;
}

/* footer */

.mainFooter {
    clear: both;
    margin: 2em auto 2em;
    width: 100%;
    padding-top: .2em;
    border-top: .5px solid grey;
    box-shadow: 0 -5px 5px -5px #333;
    text-align: center;
}

.mainFooter p {
    font-weight: 600;
    letter-spacing: .2em;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    margin: 2em auto 2em;
    width: 20%;
    justify-content: center;
}

.socialMedia a img {
    display: inline-block;
    margin: auto .4em;
    height: 20px;
    width: 20px;
}