/* main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
} */

main {
        grid-template-columns: 100px 50px 100px;
        grid-template-rows: 80px auto 80px; 
        grid-column-gap: 10px;
        grid-row-gap: 15px;
}

.products-page h3{
    margin: 3em auto;
    padding: 2em 1em;
    border: 2px double lightgrey;
    border-bottom-right-radius: 2em;
    box-shadow: 1px 1px 10px .5px #888888;
    /* display: inline-block;
    width: 35%; */

}