/* general styles */

.jobs {
    text-align: left;
    width: 80%;    
}


.form {
    width: 4em;
    height: 4em;
}
.border {
    border-bottom: solid 5px black;
    margin-top: -1.5em;
    font-style: italic;
    font-weight: lighter;
    box-shadow: 0 0px 0px 0px rgba(240,240,0,0.7);
}

#jobapp article {
    margin: 3em auto;
    padding: 2em 1em;
    border: 2px double lightgrey;
    border-bottom-right-radius: 2em;
    box-shadow: 1px 1px 10px .5px #888888;
}

.test {
    text-shadow: 3px 1px rgba(240,240,0,0.7);
    h-shadoow
}

/* Floats */
.left {
    float: left;
    width: 45%;
    
    
}

.right {
    float: right;
    width: 45%;
    
}


.group:after {
    content: "";
    display: table;
    clear: both;
  }

/* button stuff */

.apply {
    background-color: darkgray;
    color: black;
    text-align: center;
    margin: 1em;
    text-decoration: none;
    padding: .5em 2em;
    cursor: pointer;
    font-weight: bolder;
    color: rgba(240,240,0,0.7);
    border-radius: 1.5em;
    float: right;
    
}